{% extends "my_app_main/layout/basic.html" %} {% block content %} {% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>{% endif %} {% if next %} {% if user.is_authenticated %}
<p>Your account doesn't have access to this page. To proceed, please login with an account that has access.</p>
{% else %}
<p>Please login to see this page.</p>
{% endif %} {% endif %}
<form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <div class="form-group">
        <label for="username_field">username</label>
        <input type="username" class="form-control" name="username" maxlength="150" required id="id_username" autocomplete="username" id="username_field" placeholder="user name">
    </div>
    <div class="form-group">
        <label for="password_field">password</label>
        <input type="password" class="form-control" id="password_field" placeholder="Password" name="password" autocomplete="current-password" required id="id_password">
    </div>
    <button type="submit" class="btn btn-primary">login</button>
    <input type="hidden" name="next" value="{{ next }}" />
</form>
{# Assumes you setup the password_reset view in your URLconf #}
<p>
    <a href="{% url 'password_reset' %}">Lost password?</a>
</p>
{% endblock %}